<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guess The Number</title>
</head>
<body>
<h1>It is number {{ guess }}</h1>
    <form action="" method="POST">
        <input type="submit" name="user_answer" value="too small">
        <input type="submit" name="user_answer" value="too big">
        <input type="submit" name="user_answer" value="you won">
        <input type="hidden" name="min_value" value="{{ min_value }}">
        <input type="hidden" name="max_value" value="{{ max_value }}">
        <input type="hidden" name="guess" value="{{ guess }}">
    </form>
</body>
</html>